{% block content %}
<head>
<style>
body {    
background: url("/Users/dohyoungkim/Downloads/Reservation-search-app/Reservation-app/ReservationProject/static/asina01.jpeg")
}
</style>
</head>
<body>
<form method="POST">

{% csrf_token %}
<div>
<div style="width:100%; text-align:center; margin-top:200px;">
<p style="backgroud-color:white; font-size:12px;">
<strong style="text-decoration:underline;">
회원탈퇴가 완료되었습니다. 이제 해당 아이디로 로그인 하실 수 없습니다</strong><br/>
다시 가입을 원하실 경우 아래의 "회원가입" 을 진행해 주세요
</p>
</div>
<div>
<div style="width:100%; text-align:center; margin-top:50px;">
{{ form.username }}  {{ form.password }}<br/>
</div>
{% endblock %}
<div>
<div style="width:100%; text-align:center; margin-top:30px;">
<input type="submit" , value="로그인">
</form>
<input type="button" , value="회원가입" onclick="location.href='/auth/register/'">
</div>
</div>
</body>


